name: Deploy to Azure

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}
      
      # Build and push backend image
      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/smart-manufacturing-api:latest
            ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/smart-manufacturing-api:${{ github.sha }}
      
      # Build and push frontend image
      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Frontend.Dockerfile
          push: true
          tags: |
            ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/smart-manufacturing-frontend:latest
            ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/smart-manufacturing-frontend:${{ github.sha }}
      
      # Deploy to Azure App Service
      - name: Deploy backend to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: smart-maintenance-api-meghna
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_BACKEND }}
          images: ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/smart-manufacturing-api:latest
      
      - name: Deploy frontend to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: smart-manufacturing-frontend
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_FRONTEND }}
          images: ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/smart-manufacturing-frontend:latest
